.reviewContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  
  .titleArea {
    width: 100%;
    text-align: center;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #bdbdbd;

    .reviewTitle {
      font-size: 1.5rem;
      font-weight: 700;
      // color: #a5a5a5;
    }
  }
}

.alignRight {
  display: flex;
  flex-direction: column;
  margin-top: .8rem;

  .starTitle {
    display: flex;
    justify-content: flex-end;
    font-size: .7rem;
    margin-bottom: 1rem;

    svg {
      margin-left: .2rem;
    }

    .open {
      transform: rotate(180deg);
      transition: all 0.1s linear;
    }
  
    .close {
      transform: rotate(0deg);
      transition: all 0.1s linear;
    }
  }

  .starContainer {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;

    .starWrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
      fill: #dddddd;
    }

    .clicked {
      fill: rgb(241, 241, 40);
    }

    span {
      font-size: 1rem;
      font-weight: 700;
      padding-bottom: .7rem;
    }
  }
}

.reviewWriteArea {
  width: 100%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #bdbdbd;

  .reviewTextArea {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding: .4rem;
    width: 100%;
    height: 5rem;
    border-radius: 0.5rem;
    outline: none;
  }
  .canNotWrite {
    width: 100%;
    height: 2rem;
    margin-top: .5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background: #c9c9c9;
  }
  .reivewWriteBtn {
    width: 100%;
    height: 2rem;
    margin-top: .5rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
    background: rgba(56, 182, 45, 0.808);
  }
}

.reviewList {
  display: flex;
  flex-direction: column;

  .reviewItem {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #c9c9c9;

    .userWrap {
      display: flex;
      justify-content: space-between;

      .userInfo {
        display: flex;
        align-content: center;
        margin: .5rem 0; 
  
        .profile {
          width: 2.5rem;
          height: 2.5rem;
        }
      
        .textWrap {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: .2rem;
          padding-left: .7rem;
  
          .writeTime {
            font-size: .8rem;
          }
        }
      }

      .option {
        position: relative;
        color: #aaa;
        padding: .5rem;

        .deleteBtn {
          position: absolute;
          left: .2rem;
          width: max-content;
          margin-top: .5rem;
          font-size: .8rem;
        }
      }
    }

    .orderMenuList {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: .5rem;
      width: 100%;
      height: 100%;

      .orderMenuItem {
        background: #ebebeb;
        border-radius: 10rem;
        padding: .2rem .4rem;
        margin-right: .2rem;
        margin-bottom: .2rem;
        font-size: .6rem;
      }
    }

    .presidentReview {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      svg {
        padding: .3rem;
        width: 2.5rem;
        height: 2.5rem;
        background: rgba(186, 208, 255, 0.568);
        border-radius: 100%;
      }

      .presidentReviewInfo {
        display: flex;
        flex-direction: column;
        width: 84%;
        height: 100%;
        padding: .8rem .6rem;
        background: rgb(243, 243, 243);
        border-radius: .5rem;

        .presidentInfo {
          margin-bottom: 1rem;
        }

        .presidnetName {
          display: flex;
          font-weight: 700;
        }

        .writeDate {
          font-size: .8rem;
        }

        .presidentReviewContent {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 100%;
        }
      }
    }
  }
}

.reviewContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}