@media ( min-width: 768px ) {
  .iteminfoWrap {
    width: 18rem !important;
  }
}

.menuContainer {
  position: relative;
  padding: 0 1.5rem;

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .mainTitle {
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.menuReview {
  display: flex;
  align-items: center;
  margin-top: .5rem;

  & > a {
    display: flex;
    align-items: center;

    & > p {
      font-size: .9rem;
    }
  
    & > svg {
      margin-left: .2rem;
      font-size: .75rem;
    }
  }
}

.menuList {
  margin-top: 1rem;

  .categoryList {
    display: flex;
    align-items: center;
    width: 100%;
    overflow-x: auto;

    & > span {
      padding: 0.2rem 0.5rem;
      border: 1px solid #c9c9c9;
      border-radius: .5rem;
      margin-right: .3rem;
      min-width: max-content;
    }

    .searchBar {
      position: relative;
      display: flex;
      width: 12rem;
      height: 1.5rem;
      margin-right: .5rem;

      input {
        border: 1px solid #c9c9c9;
        outline: none;
        border-radius: .5rem;
        padding-left: .5rem;
      }

      .searchBtn {
        position: absolute;
        width: 1.5rem;
        height: 1.5rem;
        top: 0;
        right: .7rem;
        padding-left: .2rem;
        // border-left: 1px solid #c9c9c9;
      }
    }

    .searchOpenBtn {
      border: 1px solid #c9c9c9;
      border-radius: .8rem;
      margin-right: .3rem;
      width: 2.5rem;
      height: 1.5rem;
    }
  }
}

.menuCategory {
  
  background: white;

  .categoryTitle {
    margin-top: 1rem;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    font-weight: 700;
  }
}

.menuItem {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-top: 0.5rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #e9e9e9;

  .menuImg{
    width: 3rem;
    height: 5rem;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .iteminfoWrap {
    display: flex;
    flex-direction: column;
    width: 15rem ;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0 .5rem;

    span {
      padding-bottom: 0.5rem;
    }

    .itemName {
      font-size: 1rem;
      font-weight: 700;
    }

    .itemDesc {
      width: 100%;
      color: #aaa;
      font-size: 0.7rem;
      line-height: 1.3;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space:nowrap;
    }

    .itemPrice {
      font-weight: 700;
      letter-spacing: 0.01rem;
    }

    .showDetail {
      display: flex;
      flex-wrap: wrap;
      white-space: pre-wrap
    }

    .orderBtn {
      width: 100%;
      height: 1.8rem;
      color: white;
      font-weight: 700;
      font-size: 0.8rem;
      border-radius: 8px;
      border: none;
      margin-top: 0.2rem;
      background: rgba(56, 182, 45, 0.808);
    }
  }

  .open {
    transform: rotate(180deg);
    transition: all 0.1s linear;
  }

  .close {
    transform: rotate(0deg);
    transition: all 0.1s linear;
  }
}

.menuDetail {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30rem;
  border: 1px solid black;
  border-radius: 1rem;
  top: 50%;
  left: 0;
  background: white;
  transform: translateY(-50%);

  .imgArea {
    position: relative;
    padding-top: 100%;  /* 1:1 ratio */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;

    img {
      position: absolute;
      top: 0;
      width: auto;
      height: 100%;
    }
  }
}

.searchContainer {
  position: relative;
  display: flex;
  flex-direction: column;
}

.searchItemsWrap {
  position: absolute;
  top: 2rem;
  width: 12rem;
  padding: 1rem;
  background:white;
  border: 1px solid #c9c9c9;
}