.myReviewContainer {
  padding: 0 2rem;  

  .myReviewMainTitle {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #c9c9c9;

    h2 {
      font-size: 1.5rem;
      font-weight: 700;  
    }
  }

  .myReviewItem {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c9c9c9;
    
    .infoGroup {
      display: flex;
      justify-content: space-between;
      
      .storeName {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: .2rem;
      }

      .reviewInfoGroup {
        display: flex;
        flex-direction: column;
      } 

      .deleteBtn {
        display: flex;
        align-items: flex-start;

        button {
          padding: .2rem .4rem;
          background: #ececec;
          border: none;
          border-radius: .5rem;
        }
      }
    }

    .orderMenuList {
      display: flex;
      flex-wrap: wrap;
      margin-top: .5rem;
      margin-left: -.2rem;
      width: 100%;
      height: 100%;

      .orderMenuItem {
        border: 1px solid #c9c9c9;
        border-radius: 10rem;
        padding: .2rem .4rem;
        margin-right: .2rem;
        margin-bottom: .2rem;
        font-size: .6rem;
        font-weight: 700;
      }
    }

    .userReview {
      margin-top: .8rem;
    }

    .presidentReview {
      display: flex;
      justify-content: space-between;
      margin-top: 1rem;

      svg {
        padding: .3rem;
        width: 2.5rem;
        height: 2.5rem;
        background: rgba(186, 208, 255, 0.568);
        border-radius: 100%;
      }

      .presidentReviewInfo {
        display: flex;
        flex-direction: column;
        width: 84%;
        height: 100%;
        padding: .8rem .6rem;
        background: rgb(243, 243, 243);
        border-radius: .5rem;

        .presidentInfo {
          margin-bottom: 1rem;
        }

        .presidnetName {
          display: flex;
          font-weight: 700;
        }

        .presidentReviewContent {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          height: 100%;
        }
      }
    }
  }
  
  .writeDate {
    font-size: .8rem;
    color: #aaa;
  }
}