.mypageContainer {
  position: relative;
  padding: 0 1rem;
}

.profileContainer {
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;

  .changeProfileContainer {
    position: absolute;
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 16rem;
    height: 16rem;
    padding: 1rem;
    background: white;
    border: 1px solid black;
  
    .img {
      width: 4rem;
      height: 4rem;
    }
  }

  .profile {
    width: 5rem;
    height: 5rem;
  }
}

.mainTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    display: flex;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 700;

    h3 {
      color: rgb(92, 206, 39);
    }
  }
}

.mypageMenuListGroup {
  display: flex;
  width: 18rem;
  height: 18rem;
  justify-content: space-between;
  align-content: space-between;
  margin: 0 auto;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.mypageMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  height: 8rem;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 10px 1px;
  border-radius: 0.5rem;
  padding: 1.6rem 0.7rem 1rem 0.7rem;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    fill: #6fd341;
  }

  span {
    padding-top: 0.7rem;
    font-weight: 700;
  }
}

.myapgeLinkGroup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    height: 1.5rem;
    padding: 0 .25rem;
    font-size: 0.9rem;
    color: #aaa;
  }
  
  .bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    padding: 0 .25rem;
    font-size: 0.9rem;
    color: #aaa;
  }
}