@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
.headerContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 4rem;
  padding: 0 1.5rem;
  background: white;
  z-index: 999;
  box-shadow: rgba(191, 191, 197, 0.25) 0px 7px 50px 0px;

  .title {
    font-family: 'Nerko One', cursive;
    font-size: 1.5rem;
  }

  svg {
    width: 1.8rem;
    height: 1.8rem;
    border: 1px solid black;
    border-radius: 100%;
    padding: 0.1rem;
    margin-top: 0.2rem;
  }
  
  p {
    font-size: 14px;
  }
}
