.headerContainer {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  width: 100%;
  height: 4.5rem;
  padding: 10px;

  box-shadow: rgba(152, 152, 160, 0.25) 0px 7px 50px 0px;
}

.logoLink {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  width: 3rem;
  height: 3rem;
  border: 1px solid #bdbdbd;
  border-radius: 100%;
}

.menu {
  width: 30px;
  height: 30px;
  fill: #929292;
}

.loginBtn {
  display: flex;
  color: #929292;
  font-size: 18px;
}
